A short exploration of the SQL Alchemy library.

In [2]:
import sqlalchemy as sql

Basics
==
Connecting to a database and executing a query.

The object to start with is the engine.

In [158]:
engine = sql.create_engine("mysql://root:JumpUp0@localhost:3306")

Then, a connection can be estabilshed and queries executed.

In [159]:
connection = engine.connect()
connection.execute("USE mydb2")
result = connection.execute("SELECT FirstName FROM students")
connection.close()

The results object contains the rows returned from the query.

In [160]:
result.fetchall()

[('Frank',), ('David',), ('Mary',), ('Aoife',), ('Brian',), ('Cora',)]

For testing, an in-memory database can be used.

In [162]:
engine = sql.create_engine("sqlite:///:memory:")

Statements to create an populate a table.

In [163]:
create = sql.text("CREATE TABLE points (x int, y int)")
insert = sql.text("INSERT INTO points (x, y) VALUES (1,1), (4,4)")

# Note the use of "with" to close even when errors occur
with engine.connect() as connection:
    connection.execute(create)
    connection.execute(insert)

Incidentally, the queries do autocommit as of writing this. Apparently this isn't true in v2, and if the updated interface were active you'd need to add a "connection.commit()" to finalize the queries above, else the SELECT below would fail.

In [164]:
with engine.connect() as connection:
    display(connection.execute("SELECT * FROM points").fetchall())

[(1, 1), (4, 4)]

"begin" - defining a transaction that must complete to be committed.

In [166]:
insert = sql.text("INSERT INTO points (x, y) VALUES (3,3), (2,2)")
select = sql.text("SELECT * FROM points")

try:

    with engine.begin() as connection:
        connection.execute(insert)
        raise ValueError("Dummy error!")
        
except: pass
    
# (3,3) and (2,2) will not be displayed here! Despite the query
# being executed above.

# This is because the "insert" query was executed as part of a 
# transaction that was interrupted by the dummy error. It 
# did not take effect.

with engine.connect() as connection:
    display(connection.execute(select).fetchall())

[(1, 1), (4, 4)]

Fancy iteration:

In [167]:
with engine.connect() as connection:
    
    for x, y in connection.execute(select):
        print("x:", x, "y:", y)

x: 1 y: 1
x: 4 y: 4

Binding parameters can be done. This is helpful for sanitization.

In [168]:
select = sql.text("SELECT * FROM points WHERE x > :x")
params = {"x": 3}
    
with engine.connect() as connection:
    for x, y in connection.execute(select, params):
        print(x, y)

4 4

Multiple parameters can be bound, but only if no data is being returned!

Tangentially: drawing a circle on a grid

In [178]:
import numpy as np
import matplotlib.pyplot as plt

t = np.linspace(0, 2*np.pi, 37)

X = (np.cos(t) * 20).astype(np.int)
Y = (np.sin(t) * 20).astype(np.int)

#plt.figure(figsize=(5,5))
#plt.plot(X, Y)

params = list()
for x, y in zip(X, Y):
    # Have to cast from np.int to python's normal int here
    params.append({"x":int(x), "y":int(y)})

select = "SELECT * FROM points"
insert = "INSERT INTO points (x, y) VALUES (:x, :y)"
    
with engine.begin() as connection:
    connection.execute(insert, params)
    
with engine.connect() as connection:
    for x, y in connection.execute(select):
        print(f"({x},{y})", end=", ")

(1,1), (4,4), (20,0), (19,3), (18,6), (17,9), (15,12), (12,15), (10,17), (6,18), (3,19), (0,20), (-3,19), (-6,18), (-9,17), (-12,15), (-15,12), (-17,9), (-18,6), (-19,3), (-20,0), (-19,-3), (-18,-6), (-17,-9), (-15,-12), (-12,-15), (-10,-17), (-6,-18), (-3,-19), (0,-20), (3,-19), (6,-18), (10,-17), (12,-15), (15,-12), (17,-10), (18,-6), (19,-3), (20,0), (20,0), (19,3), (18,6), (17,9), (15,12), (12,15), (10,17), (6,18), (3,19), (0,20), (-3,19), (-6,18), (-9,17), (-12,15), (-15,12), (-17,9), (-18,6), (-19,3), (-20,0), (-19,-3), (-18,-6), (-17,-9), (-15,-12), (-12,-15), (-10,-17), (-6,-18), (-3,-19), (0,-20), (3,-19), (6,-18), (10,-17), (12,-15), (15,-12), (17,-10), (18,-6), (19,-3), (20,0),

MetaData
==

Keeps information about the database.

In [195]:
# It's fairly normal to have only one in the program.
metadata = sql.MetaData()

Delcaring information in the metadata has no effect on a database.<br>
It just provides a structure from which queries can be generated.

In [227]:
points = sql.Table(
    
    # A table called "points" in metadata.
    "points", metadata,

    # Columns
    sql.Column("id", sql.Integer, autoincrement=True, primary_key=True),
    sql.Column("x", sql.Integer, nullable=False),
    sql.Column("y", sql.Integer, nullable=False),
    
    # Overwrite the existing table of the same name
    # if it exists
    extend_existing = True
)

shapes = sql.Table(
    
    "shapes", metadata,
    
    sql.Column("id", sql.Integer, autoincrement=True, primary_key=True),
    sql.Column("name", sql.String, nullable=False),
    
    extend_existing = True
    
)

shape_points = sql.Table(

    "shape_points", metadata,

    sql.Column("shape_id", sql.ForeignKey("shapes.id"), nullable=False),
    sql.Column("points_id", sql.ForeignKey("points.id"), nullable=False),
    
    extend_existing = True

)

This can then be all added to a new database

In [224]:
engine = sql.create_engine("sqlite:///:memory:", echo=True)

One thing of note is that running the cell twice below does not <br>
send two sets of creation queries to the database - it seems that <br>
only items not present are created.

In [234]:
metadata.create_all(engine)
#metadata.drop_all(engine) # (Undo what has just been done)

2021-02-17 15:05:11,343 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("points")
2021-02-17 15:05:11,344 INFO sqlalchemy.engine.base.Engine ()
2021-02-17 15:05:11,346 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("shapes")
2021-02-17 15:05:11,346 INFO sqlalchemy.engine.base.Engine ()
2021-02-17 15:05:11,348 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("shape_points")
2021-02-17 15:05:11,348 INFO sqlalchemy.engine.base.Engine ()

This isn't actually very useful beyond small test cases though.

More often I guess "reflection" is used to set up the Table metadata from an existing database.

In [238]:
engine = sql.create_engine("sqlite:///:memory:")
metadata = sql.MetaData()

create = sql.text("CREATE TABLE points (x int, y int)")
insert = sql.text("INSERT INTO points (x, y) VALUES (1,1), (4,4)")

with engine.connect() as connection:
    connection.execute(create)
    connection.execute(insert)

points = sql.Table("points", metadata, autoload_with=engine)
points

Table('points', MetaData(bind=None), Column('x', INTEGER(), table=<points>), Column('y', INTEGER(), table=<points>), schema=None)